main {
    width: 100%;
    padding: 10px 8%;
}

.categoria_header {
    margin: 20px 0;
    width: 100%;
}

.categoria_header-a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 400;
}
.categoria_header-a a {
    text-decoration: none;
    color: #454950;
}

.categoria-h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    color: #171B24;
}

.categoria_main {
    display: flex;
    justify-content: space-between;
}

.categoria_main-one {
    width: 20%;
    padding: 15px 10px;
    border: 1px solid #F6F6F6;
}

.categoria_main-two{
    width: 78%;
    height: 200px;
    background: blue;
}

.categoria_one-header h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 24.48px;
    color: #171B24;
}

.categoria_one-inp {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sliderInput {
    width: 117px;
    height: 48px;
    background: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 1px solid #D1D1D3;
    outline: none;
    font-size: 18px;
    color: #8B8D92;
    font-weight: 500;
    padding: 0 12px;
    line-height: 24.48px;
}

.ui-slider {
    background-color: #E8E9EA; 
}

.ui-slider .ui-slider-handle {
    width: 20px; 
    height: 20px; 
    background-color: #8B8D92; 
    border-radius: 0px;
    border: none;
    outline: none;
}

 .ui-slider .ui-slider-handle.ui-state-hover,
 .ui-slider .ui-slider-handle.ui-state-active {
    border-radius: 0px;
    background: #8B8D92;
     border: none;
     outline: none;
 }

 .categ-header__inp {
    width: 100%;
    height: 48px;
    outline: none;
    border: none;
    border-bottom: 1px solid #D1D1D3;
    background: #F6F6F6;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.48px;
 }

 .categ__botom-search {
    position: relative;
 }

.categoria_one-brand h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24.48px;
    color: #171B24;
}

.brand-categ-checkbox {
    width: 100%;
    height: 200px;
    overflow-y:scroll;
    column-gap: 10px;
}

.brand-categ-checkbox div {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.brand-categ-checkbox div p {
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #2F323A;
}

.categoria_btn {
    padding: 15px;
    width: 100%;
    height: 140px;
    border-top: 1px solid #E8E9EA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.categoria_btn-href {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #171B24;
    width: 100%;
    height: 48px;
    background: #FCEC41;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 24.48px;
}

.categoria_btn-sbros {
    background: transparent;
    border: 1px solid #D1D1D3;
}