header {
    width: 100%;
    height: 42px;
    padding: 0 8%;
    background: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #5D6066;
}

.header__nav {
    display: flex;
    column-gap: 20px;
    font-weight: 500;
}

.header__nav a {
    color: #5D6066;
}

.header__nav a:hover {
    color: #2F323A;
}

.header__span {
    font-size: 15px;
    padding-left: 3px;
}

.header__one {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.header__one a {
    color: #5D6066;
}

.header__map:hover {
    color: #2F323A;
}

.header__map {
    font-size: 20px;
    color: #5D6066;
    display: flex;
    align-items: center;
}

.header {
    width: 100%;
    height: 135px;
}

.header__navbar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;

}

.catalog__btn-header {
    width: 144px;
    height: 48px;
    background: #FCEC41;
    color: #171B24;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    transition: all .3s ease;
    column-gap: 3px;
}

.catalog__btn-header:hover {
    color: #ffffff;
    transition: all .3s ease;
    background: #2F323A;

}
.catalog__btn-header:hover,
.catalog__btn-header:focus {
    color: #ffffff;
    transition: all .3s ease;
    background: #2F323A;
}

.header__btn-catalog {
    font-size: 24px;
    padding-top: 2px;
}

.header__main-one {
    display: flex;
    gap: 50px;
}

.header__inp {
    width: 444px;
    height: 48px;
    outline: none;
    border: none;
    border-bottom: 1px solid #D1D1D3;
    background: #F6F6F6;
    padding-left: 20px;
}

.header__inp::placeholder {
    font-size: 16px;
    color: #8B8D92;
    font-weight: 500;

}

.header__botom-search {
    margin-right: 108px;
    position: relative;
}

.header__search {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 25px;
    display: flex;
    align-items: center;
    width: 35px;
    background: transparent;
    color: #5D6066;
    border: none;
}

.header__nav-bar {
    display: flex;
    column-gap: 10px;
    color: #454950;
}

.header__nav-bar1 {
    width: 82px;
    height: 48px;
    cursor: pointer;
    text-align: center;
}

.header_nav-ic {
    font-size: 30px;
    color: #5D6066;
}

.header__navbar-two {
    width: 100%;
    height: 35px;
}

.navbar_header {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E8E9EA;
    padding: 0 8%;
}

.navbar_header a {
    color: #454950;
    font-weight: 500;
}

.navbar_header a:hover {
    color: #171B24;
}
.home {
    width: 100%;
    height: 660px;
    margin-top: 50px;
}
/*---- NUMBER OF SLIDE CONFIGURATION ----*/
.wrapper {
    height: 500px;
}

.inner {
    width: 500%;
    line-height: 0;
}

article {
    width: 20%;
    float: left;
    position: relative;
}
article img {
    width: 100%;
    height: 628px;
}

/*---- SET UP CONTROL ----*/
.slider-prev-next-control {
    position: relative;
    float: right;
    bottom: 100px;
    width: 106px;
    height: 52px;
    z-index: 1001;
    right: 10px;
    margin: 0 8%;
}
.slider-prev-next-control label {
    display: none;
    width: 52px;
    height: 52px;
    background: #fff;
    transition: all .3s ease;
}
.slider-prev-next-control label:hover {
    background: #dbdada;
}

.slider-dot-control {
    width: 100%;
    bottom: 0;
    text-align: center;
    display: none;
}
.slider-dot-control label {
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #bbb;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.slider-dot-control label:hover {
    background: #ccc;
    border-color: #777;
}

/* Info Box */
.info {
    position: absolute;
    line-height: 50px;
    color: #000;
    padding: 80px 8%;
}
.info h1 {
    color: #171B24;
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 48px;
    font-style: normal;
}

.info p{
    padding-top: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.header__baner-btn {
    width: 147px;
    height: 48px;
    background: #FCEC41;
    color: #171B24;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    transition: all .3s ease;
}

.header__baner-btn:hover {
    color: #ffffff;
    background: #2F323A;
}

/* Slider Styling */
.slider-wrapper {
    height: 628px;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
    background: #fcfff4;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}
.slider-wrapper .inner {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

/*---- SET POSITION FOR SLIDE ----*/
#slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin: 0;
    line-height: 38px;
    font-size: 3em;
    display: block;
    color: #777;
}


#slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after {
    position: relative;
    content: "";
    background: url("../images/home/header-left.png");
    width: 24px;
    height: 24px;
    top: 13px;
    background-size: cover;
    background-position: center;
    left: 12px;
}

#slide5:checked ~ .slider-prev-next-control label:nth-child(1), #slide4:checked ~ .slider-prev-next-control label:nth-child(5), #slide3:checked ~ .slider-prev-next-control label:nth-child(4), #slide2:checked ~ .slider-prev-next-control label:nth-child(3), #slide1:checked ~ .slider-prev-next-control label:nth-child(2) {
    display: block;
    float: right;
    margin-right: 5px;
}

#slide1:checked ~ .slider-prev-next-control label:nth-child(5), #slide5:checked ~ .slider-prev-next-control label:nth-child(4), #slide4:checked ~ .slider-prev-next-control label:nth-child(3), #slide3:checked ~ .slider-prev-next-control label:nth-child(2), #slide2:checked ~ .slider-prev-next-control label:nth-child(1) {
    display: block;
    float: left;
    margin-left: 5px;
}

#slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after {
    position: relative;
    content: "";
    background: url("../images/home/header-right.png");
    width: 24px;
    height: 24px;
    top: 13px;
    background-size: cover;
    background-position: center;
    left: 12px;
}

#slide5:checked ~ .slider-dot-control label:nth-child(5), #slide4:checked ~ .slider-dot-control label:nth-child(4), #slide3:checked ~ .slider-dot-control label:nth-child(3), #slide2:checked ~ .slider-dot-control label:nth-child(2), #slide1:checked ~ .slider-dot-control label:nth-child(1) {
    background: #333;
}

#slide5:checked ~ .slider-wrapper article:nth-child(5) .info, #slide4:checked ~ .slider-wrapper article:nth-child(4) , #slide3:checked ~ .slider-wrapper article:nth-child(3) .info, #slide2:checked ~ .slider-wrapper article:nth-child(2) .info, #slide1:checked ~ .slider-wrapper article:nth-child(1) .info {
    opacity: 1;
}

#slide1:checked ~ .slider-wrapper .inner {
    margin-left: 0%;
}
#slide2:checked ~ .slider-wrapper .inner {
    margin-left: -100%;
}
#slide3:checked ~ .slider-wrapper .inner {
    margin-left: -200%;
}
#slide4:checked ~ .slider-wrapper .inner {
    margin-left: -300%;
}
#slide5:checked ~ .slider-wrapper .inner {
    margin-left: -400%;
}
/*---- TABLET ----*/
@media only screen and (max-width: 850px) and (min-width: 450px) {
    .slider-wrapper {
        border-radius: 0;
    }
}
/*---- MOBILE----*/
@media only screen and (max-width: 450px) {
    .slider-wrapper {
        border-radius: 0;
    }

    .slider-wrapper .info {
        opacity: 0;
    }
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10001;

}

.close__header-ic {
    position: absolute;
    width: 52px;
    height: 52px;
    cursor: pointer;
    right: 10px;
    top: 10px;
}

.popup__form-top {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    position: relative;
    top: 20px;
    font-size: 20px;
}

.form__popup {
    width: 400px;
    height: 420px;
    background: white;
}

.login_header {
    width: 304px;
    height: 48px;
    outline: none;
    border: none;
    background: #F6F6F6;
    border-bottom: 1px solid #D1D1D3;
}

.form__main {
    position: relative;
    width: 100%;
    top: 70px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poppup_btn {
    width: 304px;
    height: 48px;
    background: #FCEC41;
    border: none;
    color: #171B24;
    font-size: 18px;
}

.aktsiya {
    width: 100%;
    padding: 0 8%;
}

.justify__h1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.justify__h1 h2 {
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
}

.btn__vseActsia {
    width: 160px;
    height: 48px;
    border: 1px solid #D1D1D3;
    display: flex;
    align-items: center;
    justify-content: center;   
    font-weight: 500;
    font-size: 18px;
    line-height: 24.48px;
    transition: all .2s ease;
    cursor: pointer;
}

.btn__vseActsia:hover {
    background: #2F323A;
    color: #D1D1D3;
}

.aktsia__main-one {
    display: flex;
    justify-content: space-between;
}

.aktsia__main-one1 {
    width: 780px;
    height: 328px;
    border: 1px solid #E8E9EA;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.aktsia__main-product {
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 0;
    position: relative;
    left: 20px;
}

.aktsia__main-product-img {
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aktsia__main-product-h1 {
    color: #2F323A;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.aktsia__main-product-price {
    display: flex;
    width: 105px;
    justify-content: space-between;
    align-items: center;
}

.price_akts {
    width: 120px;
}

.price__star {
    color: #8B8D92;
    text-decoration: line-through;
}

.price__new {
    color: #171B24;
    font-weight: 700;
    font-size: 20px;
}

.aktsia__main-product-btn {
    width: 262px;
    height: 48px;
    background: #FCEC41;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #171B24;
    font-size: 18px;
    font-weight: 500;
    transition: all .3s ease;
    cursor: pointer;
}

.aktsia__main-product-btn:hover {
    background: #2F323A;
    color: #ffffff;
}

.categoria__none {
    width: 100%;
    padding: 50px 8%;
    background: #D1D1D3;
    position: absolute;
    top: 140px;
}

.categoria__noneDiv1 {
    display: flex;
    justify-content: center;
}

.categoria__div {
    text-align: center;
    padding: 10px;
    width: 180px;
    height: 180px;
    background: #F6F6F6;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2F323A;
    cursor: pointer;
    overflow: hidden;
}

.categoria__div:hover {
    background: #FCEC41;
    transition: all .3s ease;

}

.categoria__div img:hover {
    transform: scale(1.3);
    transition: all .3s ease;

}

.categoria__none-just {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.categoria__none-just h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 44px;
    color: #2F323A;
}

.vse__categor-btn {
    width: 198px;
    height: 48px;
    color: #171B24;
    border: 1px solid #171B24;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
}

.vse__categor-btn:hover {
    background: #2F323A;
    color: #ffffff  ;
}

.hidden {
    display: none;
}

.categoria__img {
    position: relative;
    top: 20px;
}

.text__cat {
    color: #2F323A;
    font-size: 18px;
    font-weight: 500;
}

footer {
    width: 100%;
    height: 285px;
    background: #2F323A;
    padding: 30px 8%;
}

.footer__nav {
    display: flex;
    flex-direction: column;
}
.footer__nav a{
    text-decoration: none;
    color: #E8E9EA;
    margin: 8px 0;
    transition: all .3s ease;
}

.footer__one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon__footer {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.map__footer {
    font-size: 20px;
}

.footer__nav a:hover {
    transform: translateY(-2px);
    transition: all .3s ease;
}
.footer__two {
    width: 100%;
    border-top: 1px solid #5D6066;
    display: flex;
    padding: 12px 0;
    margin-top: 34px;
    justify-content: space-between;
    align-items: center;
    color: #D1D1D3;
}

.categoria__main {
    padding: 20px 8%;
}

.btn-categ {
    display: flex;
    align-items: center;
    column-gap: 3px;
}

.popular__tovar {
    width: 100%;
    padding: 100px 8%;
}

.popular__tovar-one {
    display: flex;
    justify-content: center;
}


.popular__tovar-block {
    width: 278px;
    height: 416px;
    background: #E8E9EA;
    margin: 10px;
}

.h2__popul-tovar {
    font-size: 34px;
    color: #2F323A;
    font-weight: 600;
}

.about {
    width: 100%;
    height: 500px;
    background: url(../images/home/banner-about.png);
    background-position: center;
    background-size: cover;
    padding: 50px 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
}

#products-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr); 
}

.product{
    width: 278px;
    height: 416px;
    border: 1px solid #E8E9EA;
}

.product__info {
    width: 278px;
    height: 208px;
    border-top: 1px solid #E8E9EA;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 7px;
}

.product__info h3 {
    font-size: 16px;
    font-weight: 500;
}

.product__info p {
    font-size: 20px;
    font-weight: 700;
}

.btn__product {
    width: 246px;
    height: 48px;
    background: #FCEC41;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #171B24;
    font-weight: 500;
    transition: all .3s ease;
    cursor: pointer;
    position: relative;
    left: 6px;
}

.btn__product:hover {
    background: #2F323A;
    color: #FFFFFF;
    transition: all .3s ease;
}

.notification-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  z-index: 9999;
}

.notification {
  background-color:#2F323A;
  color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  animation: slideIn 0.5s ease; 
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reviews {
    padding: 80px 8%;
    width: 100%;
    background: #F6F6F6;
    height: 600px;
  }
  
  .reviews-h1 {
    color: #2F323A;
    font-size: 34px;
    font-weight: 600;
  }
  
  .reviews-one {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .reviews-btn {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  
  .reviews_cont {
    width: 476px;
    height: 265px;
    background: #fff;
    margin: 20px 10px;
    padding: 20px;
  }
  
  .reviews_cont-header {
    width: 100%;
    height: 52px;
    justify-content: space-between;
    display: flex;
  }
  
  .reviews_cont-header1 h3 {
    font-size: 18px;
    font-weight: 700;
    color: #2F323A;
  }
  
  .reviews_cont-text {
    font-size: 16px;
    font-weight: 400;
    color: #2F323A;
    line-height: 24px;
  }
  
  .reviews_footer {
    display: flex;
    padding: 20px 0;
    font-size: 15px;
    color: #8B8D92;
    font-weight: 500;
  }

.reviews_cont-header1 {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.rew_ic {
    width: 32px;
    height: 24px;
}