.conteiner{
    width: 100%;
    margin-left: auto;
    height: 312px;
    margin-right: auto;
    background: url(../images/vozvrat/banner-vozvrat.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.conteiner-box{
    display: flex;
    margin-top: 42px;
    padding: 64px;
    top: 100px;
    left: 100px;
    gap: 20px;
    opacity: 0px;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
}

.p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    
}

.h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;

}

.p1{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.c{
    padding-left: 85px;
    width: 100%;
}

.container2{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
}

.h2{
    margin-left: 0;
    
}
.info-title{
    width: 434px;
    text-align: left;
    font-size: 34px;
    
    
}
.info-p {
    max-width: 768px;
    margin-left: 407px;
    font-size: 16px;
}